.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1px;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.7)
  );
  border-radius: 8px;
  width: 100%;
}

.contained-container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1px;

  /* border: 1px solid; */

  background: linear-gradient(
    to bottom right,

    rgb(158, 190, 254),
    rgba(93, 146, 254, 1) 53.36%,
    rgba(93, 146, 254, 1) 79.75%,
    rgba(93, 146, 254, 1) 96.94%,
    rgb(144, 175, 237)
  );

  border-radius: 8px;
  width: 100%;
}
