/* App.css */
.app-layout {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: auto;
}

.sidebar {
  width: 240px;
}

.topbar {
  height: 88px;
  z-index: 999;
}

.right-container {
  width: 100%;
}

.content {
  overflow: auto;
  height: calc(100vh - 88px);
  width: 100%;
}
.children-container {
  padding: 15px;
  width: 100%;
  height: 100%;
}
