@keyframes fallingEffect {
  from {
    top: -500px; /* Start from above the viewport */
    opacity: 0; /* Start invisible */
  }
  to {
    top: 0; /* End at the original position */
    opacity: 1; /* Fade in */
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-in {
  animation: slideIn 0.5s ease forwards; /* Apply the animation */
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.slide-out {
  animation: slideOut 0.5s ease forwards; /* Apply the closing animation */
}
