@keyframes fallingEffect {
  from {
    top: -500px; /* Start from above the viewport */
    opacity: 0; /* Start invisible */
  }
  to {
    top: 0; /* End at the original position */
    opacity: 1; /* Fade in */
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-in {
  animation: slideIn 0.5s ease forwards; /* Apply the animation */
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.slide-out {
  animation: slideOut 0.5s ease forwards; /* Apply the closing animation */
}

textarea::placeholder {
  font-style: italic;
}

.animated-text {
  font-size: 50px !important;
  font-weight: 500 !important;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    to top left,
    #ad00fe 10%,
    #00e0ee 50%,
    #ad00fe 100%
  );
  background-size: 200% 100%;
  animation: animate-gradient 5s linear infinite;
}

@keyframes animate-gradient {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 200% 100%;
  }
}
