.option-bar-conatiner {
  padding: 2px;
  background: linear-gradient(
    142.96deg,
    rgba(255, 255, 255, 0.222) -3.54%,
    rgba(114, 114, 114, 0.252) 95.15%
  );

  border-radius: 8px;
  width: 100%;
}
