.container-round-btn {
  padding: 1px;
  background: var(--custom-button-border);
  border-radius: 50px;
  width: fit-content;
}
.container-btn-small {
  padding: 1px;
  background: var(--custom-button-small-border);
  border-radius: 8px;
  height: 23px;
  width: fit-content;
}

.round-btn-container {
  padding: 1px;
  background: var(--custom-button-round-border);
  border-radius: 100%;
}

.requestHistory-btn-container {
  padding: 1px;
  background: linear-gradient(
    9deg,
    rgba(108, 33, 177, 1) 16%,
    rgba(26, 138, 169, 1) 100%
  );
  border-radius: 8px;
  width: fit-content;
}
