.container-round-btn {
  padding: 1px;
  background: var(--custom-button-border);
  border-radius: 50px;
  width: fit-content;
}
.container-btn-small {
  padding: 1px;
  background: var(--custom-button-small-border);
  border-radius: 8px;
  height: 23px;
  width: fit-content;
}

.round-btn-container {
  padding: 1px;
  background: var(--custom-button-round-border);
  border-radius: 100%;
}
