@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background: linear-gradient(41.16deg, #ad00fe -4.78%, #00e0ee 100%),
    /* Gradient */ rgba(0, 0, 0, 0.4); /* Semi-transparent black */
  background-size: cover; /* Ensures gradient fills the entire background */
}

.main-container {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  overflow: auto;
}

:root {
  --vison-pro-stock: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.4)
    )
    1;
}
