@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/static/Inter-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/static/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/static/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/static/Inter-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/static/Inter-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/static/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/static/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/static/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/static/Inter-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

body {
  font-family: "Inter", sans-serif;
  color: black;
  background:
    linear-gradient(41.16deg, #ad00fe -4.78%, #00e0ee 100%),
    /* Gradient */ rgba(0, 0, 0, 0.4); /* Semi-transparent black */
  background-size: cover; /* Ensures gradient fills the entire background */
}

.main-container {
  background: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
@font-face {
  font-family: "YourFontName";
  src:
    url("/fonts/YourFontName.woff2") format("woff2"),
    url("/fonts/YourFontName.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --vison-pro-stock: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.4)
    )
    1;
  --gray-gradient-border: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.7)
  );
  --button-contained-border: linear-gradient(
    to bottom right,

    rgb(158, 190, 254),
    rgba(93, 146, 254, 1),
    rgba(93, 146, 254, 1),
    rgba(93, 146, 254, 1),
    rgb(158, 190, 254)
  );
  --button-contained-border-hover: linear-gradient(
    to bottom right,
    rgba(144, 118, 207, 1),
    rgba(105, 65, 198, 1),
    rgba(105, 65, 198, 1),
    rgba(105, 65, 198, 1),
    rgba(144, 118, 207, 1)
  );

  --notification-button-border: linear-gradient(
    110.74deg,
    rgba(255, 255, 255, 0.7) 3.19%,
    rgba(255, 255, 255, 0.4) 23.36%,
    rgba(255, 255, 255, 0.4) 49.75%,
    rgba(255, 255, 255, 0.4) 76.94%,
    rgba(255, 255, 255, 0.7) 98.29%
  );

  --custom-button-border: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.7)
  );

  --custom-button-small-border: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.7),
    #7a8089,
    #7a8089,
    #7a8089,
    rgba(255, 255, 255, 0.7)
  );

  --custom-button-round-border: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.7)
  );

  --notification-icon-button-border: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.9)
  );

  --optionbar-border: linear-gradient(
    142.96deg,
    rgba(255, 255, 255, 0.222) -3.54%,
    rgba(114, 114, 114, 0.252) 95.15%
  );

  --slate-blue-opacity: rgba(71, 84, 103, 0.3);
  --royal-navy-blue: rgba(78, 95, 149, 0.9);
}

/* Example: global.css */
@font-face {
  font-family: "Inter";
  src: url("/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}
